@import url("https://fonts.googleapis.com/css?family=Poppins:400,300,500,600");

/*Style Guide*/
:root {
  --black: rgba(0, 0, 0, 1);
  --japonica: rgba(221, 125, 98, 1);
  --peach-cream: rgba(255, 240, 217, 1);
  --white: rgba(255, 255, 255, 1);

  --font-size-xs: 20px;
  --font-size-s: 24px;
  --font-size-m: 32px;
  --font-size-l: 40px;
  --font-size-xl: 48px;
  --font-size-xxl: 64px;
  --font-size-xxxl: 80px;

  --font-family-poppins: "Poppins";
}

* {
  font-family: var(--font-family-poppins);
  border: 0;
  margin: 0;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.header {
  align-items: center;
  background-color: var(--peach-cream);
  display: flex;
  flex-direction: row;
  height: auto;
  position: relative;
  border: 0px;
  width: 100%;
}

.sections {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  width: 35vw;
  padding-left: 15vw;
}

nav {
  list-style: none;
}

nav li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  padding-right: 4vw;
  color: var(--black);
}

.titleBacheca {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  letter-spacing: 0;
  position: relative;
  width: fit-content;
  padding-left: 2vw;
  width: 47vw;
}

.getStartedbtn {
  background-color: var(--japonica);
  color: var(--white);
  border-radius: 6px;
  cursor: pointer;
  height: auto;
  position: relative;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-weight: 300;
  height: 6vh;
  width: 10vw;
}

.getStartedbtn:hover {
  background-color: #ff815e;
}

.usernameframe {
  background-color: var(--peach-cream);
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 10vh;
  position: relative;
  width: 100%;
}

.username {
  color: var(--japonica);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  position: relative;
  width: fit-content;
  padding-left: 2vw;
}

.boxgrid {
  background-color: var(--white);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 50vh;
}

.formgrid {
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5%;
}

textarea {
  margin: 0 auto;
  align-items: center;
  display: flex;
  border: 0.5px solid;
  background-color: var(--white);
  resize: none;
  width: 50vw;
  height: 30vh;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-weight: 200;
}

label {
  color: var(--japonica);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-weight: 500;
}

input[type="text"] {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 500;
  width: fit-content;
}

button {
  background-color: transparent;
}

.bottone {
  background-color: var(--japonica);
  border-radius: 6px;
  height: 7vh;
  width: fit-content;
  text-align: center;
  font-size: var(--font-size-s);
  font-weight: 300;
  color: var(--white);
}

.boxcontainer {
  align-items: center;
  padding-top: 30vh;
  flex-direction: column;
  justify-content: center;
  display: flex;
}
